.header {
    display: grid;
    grid-template-rows: 20% 30%;
    column-gap: 5px;
}

.imageMulti {
    height: 200px;
    width: 200px;
}

.logos {
    position: relative;
}

.imageLogo {
    position: absolute;
    left: 62px;
    top: 25px;
    height: 80px;
    width: 420px;
}