.header {
    display: grid;
    grid-template-rows: 50% 50%;
    column-gap: 5px;
}

.main {
    display: grid;
    grid-template-columns: 20% 80%;
}

.product {
    display: grid;
    grid-template-columns: 30% 30%;
}